<a href="https://colab.research.google.com/github/jdanielsuarez98/ElectivaDatos3/blob/main/Proyecto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df = pd.read_csv("")

In [ ]:
from google.colab import drive
drive.mount('drive')

Mounted at drive

In [ ]:
data_ES = pd.read_csv("/content/drive/MyDrive/Electiva_Datos_3/CSV/MEN_ESTADISTICAS_MATRICULA_POR_MUNICIPIOS_ES.csv")
data_EM = pd.read_csv("/content/drive/MyDrive/Electiva_Datos_3/CSV/MEN_ESTADISTICAS_EN_EDUCACION_EN_PREESCOLAR__B_SICA_Y_MEDIA_POR_MUNICIPIO.csv")
data_Homicidios = pd.read_excel("/content/drive/MyDrive/Electiva_Datos_3/CSV/homicidios-ven-col.xlsx")

In [ ]:
data_Homicidios

,AÑO,Código delDepartamento,Nombre del Departamento,Código delMunicipio,Nombre del Municipio,TECNICA PROFESIONAL,TECNOLOGICA,UNIVERSITARIA,ESPECIALIZACION,MAESTRIA,DOCTORADO,IES CON OFERTA
0,2005,11,11,11001,BOGOTÁ D.C.,"63,098","40,178","279,544","23,603","7,399",492,106
1,2005,13,13,13001,CARTAGENA DE INDIAS,"5,902","4,348","25,138","1,260",9,0,33
2,2005,13,13,13074,BARRANCO DE LOBA,40,0,0,0,0,0,1
3,2005,13,13,13188,CICUCO,50,0,0,0,0,0,1
4,2005,13,13,13248,EL GUAMO,40,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9624,2020,95,95,95001,SAN JOSÉ DEL GUAVIARE,1,"1,476",648,6,0,0,6
9625,2020,97,97,97001,MITÚ,1,59,211,19,0,0,5
9626,2020,99,99,99001,PUERTO CARREÑO,0,342,154,7,1,0,4
9627,2020,99,99,99524,LA PRIMAVERA,0,0,20,0,0,0,1
9628,2020,99,99,99624,SANTA ROSALÍA,0,0,26,0,0,0,1

In [ ]:
data_EM

,AÑO,CÓDIGO_MUNICIPIO,MUNICIPIO,CÓDIGO_DEPARTAMENTO,DEPARTAMENTO,CÓDIGO_ETC,ETC,POBLACIÓN_5_16,TASA_MATRICULACIÓN_5_16,COBERTURA_NETA,...,REPROBACIÓN,REPROBACIÓN_TRANSICIÓN,REPROBACIÓN_PRIMARIA,REPROBACIÓN_SECUNDARIA,REPROBACIÓN_MEDIA,REPITENCIA,REPITENCIA_TRANSICIÓN,REPITENCIA_PRIMARIA,REPITENCIA_SECUNDARIA,REPITENCIA_MEDIA
0,2011,5001,Medellín,5,Antioquia,3759,Medellín,386466.0,108.73,108.50,...,0.03,0.00,0.00,0.01,0.17,4.57,0.15,3.26,7.44,2.95
1,2011,5002,Abejorral,5,Antioquia,3758,Antioquia (ETC),4146.0,97.81,97.80,...,1.70,0.00,1.23,2.96,1.18,0.89,0.00,0.85,1.08,1.23
2,2011,5004,Abriaquí,5,Antioquia,3758,Antioquia (ETC),483.0,88.61,88.60,...,7.29,0.00,1.47,14.66,7.46,1.69,3.13,1.47,2.22,0.00
3,2011,5021,Alejandría,5,Antioquia,3758,Antioquia (ETC),702.0,118.52,118.50,...,3.58,0.00,2.16,4.39,8.04,0.60,0.00,0.96,0.00,0.00
4,2011,5030,Amagá,5,Antioquia,3758,Antioquia (ETC),6631.0,78.65,78.70,...,8.99,0.24,6.73,14.46,7.45,0.42,0.00,0.24,0.91,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11214,2020,97889,Yavaraté,97,Vaupés,3831,Vaupés (ETC),545.0,48.62,48.62,...,12.54,0.00,18.02,8.33,3.23,5.28,17.86,4.07,5.56,0.00
11215,2020,99001,Puerto Carreño,99,Vichada,3832,Vichada (ETC),4608.0,127.24,127.17,...,9.78,0.00,8.27,16.44,9.51,9.55,0.20,9.60,13.65,5.14
11216,2020,99524,La Primavera,99,Vichada,3832,Vichada (ETC),2511.0,98.05,98.05,...,5.19,0.00,7.06,4.37,1.89,8.71,0.00,13.32,4.71,4.15
11217,2020,99624,Santa Rosalía,99,Vichada,3832,Vichada (ETC),1153.0,87.86,87.86,...,9.60,0.00,11.37,10.80,1.18,11.28,0.00,13.51,12.18,2.35
11218,2020,99773,Cumaribo,99,Vichada,3832,Vichada (ETC),25026.0,42.72,42.72,...,16.45,0.10,19.19,15.49,6.56,18.48,0.00,24.29,8.41,3.06

In [ ]:
data_ES

,AÑO,Código delDepartamento,Nombre del Departamento,Código delMunicipio,Nombre del Municipio,TECNICA PROFESIONAL,TECNOLOGICA,UNIVERSITARIA,ESPECIALIZACION,MAESTRIA,DOCTORADO,IES CON OFERTA
0,2005,11,11,11001,BOGOTÁ D.C.,"63,098","40,178","279,544","23,603","7,399",492,106
1,2005,13,13,13001,CARTAGENA DE INDIAS,"5,902","4,348","25,138","1,260",9,0,33
2,2005,13,13,13074,BARRANCO DE LOBA,40,0,0,0,0,0,1
3,2005,13,13,13188,CICUCO,50,0,0,0,0,0,1
4,2005,13,13,13248,EL GUAMO,40,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
9624,2020,95,95,95001,SAN JOSÉ DEL GUAVIARE,1,"1,476",648,6,0,0,6
9625,2020,97,97,97001,MITÚ,1,59,211,19,0,0,5
9626,2020,99,99,99001,PUERTO CARREÑO,0,342,154,7,1,0,4
9627,2020,99,99,99524,LA PRIMAVERA,0,0,20,0,0,0,1
9628,2020,99,99,99624,SANTA ROSALÍA,0,0,26,0,0,0,1